<link rel="stylesheet" type="text/css" href="/stylesheets/other.css">
<div class='page-header'>
<h3>About Us</h3>
</div>
<p>
	Quark 2017 is proud to present the Biggest College Gaming Event in India - MATKA, for games like CS - GO and DOTA 2 with a prize pool worth 3 Lakhs.</p>
<p>
We are proud to associate with SoStronk, BenQ, Gaming Central and Source as our event partners.</p>
<p>
The event consists of online qualifiers for CS-GO and DOTA 2 scheduled from 10th -15th January 2017. CS- GO qualifiers will be hosted on SoStronk server while DOTA 2 will be hosted on source servers. The top 8 teams for each game will qualify for the LAN finals, 4 more teams will join them in the finals selected through Goan Qualifiers (Exclusively for Goans). The dates for the LAN finals are 3rd to 5th February 2017 and will happen during Quark 2017 at BITS PILANI K.K. Birla Goa Campus.</p>
<p>
Register here to participate in online qualifiers for CS-GO and DOTA 2. Registration is FREE for everyone.</p>
<p>
Last date for registrations is 5th January 2017
</p>