
<link rel="stylesheet" type="text/css" href="/stylesheets/other.css">
<div class='page-header'>
<h3>Contact</h3>
</div>
<div>
<table align="center" id="contact">
  <tr>
    <td>Rahul Bisht</td>
    <td>rahulbishtbits@gmail.com</td>
    <td>9999911628</td>
  </tr>
  <tr>
  	<td>Himanshu Lakhotiya</td>
    <td>himanshu.lakhotiya@gmail.com</td>
    <td>9970735246</td>
  </tr>
  <tr>
    <td>Chetan Tiwary</td>
    <td>ctiwari409@gmail.com</td>
    <td>9130651218</td>
  </tr>
  <tr>
    <td>Yash Singhal</td>
    <td>singhal@bits-quark.org</td>
    <td>7722047558</td>
  </tr>
</table>
</div>
