{{!-- <div class='page-header'>
<h3>Welcome to MATKA</h3>
</div> --}}
<div id='center'>
<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
<a href="/about"><button class="button" id="about">About</button></a>
<a href="/register"><button class="button large" id="register">Register</button></a>
<a href="/contact"><button class="button" id="contact">Contact</button></a>
</div>