body {
	background: url('/img/bg_sans.jpg') no-repeat fixed;
	background-size: 100% 100vh;
	color: #fff;
}

.panel {
	background-color: transparent;
}

#contact td {
	padding: 20px;
}

h3 {
	text-align: center;
}

p {
	text-align: center;
}