body {
	background: url('/img/bg.jpg') no-repeat;
	background-size: 100% 100vh;
}

.button {
    border-radius: 25px;
    moz-border-radius: 25px;
    webkit-border-radius: 25px;
    height: 50px;
    width: 130px; 
    border:4px #fff solid;
    background-color: transparent;
    font-weight: 1.2em;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.large {
	border-radius: 35px;
    moz-border-radius: 35px;
    webkit-border-radius: 35px;
	height: 70px;
    width: 150px;
    font-size: 1.2em;
}

#center {
	/*top: 90vh;*/
	display: table;
    margin-right: auto;
    margin-left: auto;
   	margin-top: 65vh;

}

